
<header class="sticky top-0 z-10 border-b border-slate-800 dark:border-slate-500 bg-slate-50 dark:bg-black">
  <section class="p-4 flex justify-between items-center">
    <h1 class="text-3xl font-medium">
      <a href="/" class="hover:opacity-70">
        🎲 JDR Creator
      </a>
    </h1>
    <div>
      <nav class="md:block space-x-8 text-xl" aria-label="main">
        <a href="#scenarios" class="hover:opacity-70">Mes scénarios</a>
        <a href="#creation" class="hover:opacity-70">Création</a>
      </nav>
    </div>
  </section>
</header>