@if (error()) {
  <app-error-modal title="Une erreur est survenue" [message]="error()" />
}
<div class="w-full h-screen flex flex-col justify-start">
  <app-header />
  <main class="grow">
    <section id="prez" class="p-6 mt-6 scroll-mt-40 flex flex-col widescreen:section-min-height section-min-height">
      <article class="">
        <h2 class="font-bold text-4xl text-center sm:text-left text-slate-900 dark:text-white sm:text-5xl">
          Bienvenue sur ton créateur de jeu de rôle
        </h2>
        <ul class="mt-12 mb-4 text-1xl sm:text-3xl list-disc list-inside">
          <li class="mb-4">Créé un nouveau scénario</li>
          <li class="mb-4">Ajoute des lieux et des personnages</li>
          <li class="mb-4">Créé des liens entre tous tes items</li>
          <li class="mb-4">Navigue facilement pendant ton mastering</li>
        </ul>
      </article>
      <figure class="mt-12 sm:mt-52 mb-8">
        <blockquote class="relative">
          <p
            class="text-3xl md:text-6xl lg:text-8xl text-center before:content-['\201C'] before:font-serif before:absolute before:top-0 before:left-0 before:text-7xl sm:before:text-9xl after:content-['\201D'] after:font-serif after:absolute after:-bottom-5 after:right-0 after:text-7xl sm:after:text-9xl">
            Lorem Ipsum
          </p>
        </blockquote>
      </figure>
    </section>
    <hr class="mx-auto bg-black w-1/2 sm:w-auto" />
    <section id="scenarios" class="p-6 scroll-mt-16 widescreen:section-min-height tallscreen:section-min-height">
      <app-scenarios/>
    </section>
    <hr class="mx-auto bg-black w-1/2 sm:w-auto" />
    <section id="creation" class="p-6 mt-6 scroll-mt-16 widescreen:section-min-height tallscreen:section-min-height">
      <h2 class="text-4xl font-bold text-center sm:text-left sm:text-4xl mb-6 text-slate-900 dark:text-white">
        Création d'un nouveau scénario
      </h2>
      <app-add-scenario (addScenario)="onAddScenario($event)"></app-add-scenario>
    </section>
  </main>
  <app-footer />
</div>
<router-outlet />